{block content}
<p><a n:href="Home:default">← zpět na výpis používatelů</a> <a n:href="Sign:out">odhlásit</a></p>
	<h1>Editace používatele</h1>
	<div class="tableborder">
	{control userForm}
	</div>
	<p><a n:href="delete!, id => $usr->id" onClick="return confirm('Opravdu smazat?');">Smazat</a></p>
